.tableContainer {
    display: flex;
    flex-direction: column;
}

.modalBtnsWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

th,
td {
    text-align: left;
    padding: 15px;
    word-wrap: break-word;
}

th {
    background-color: #ECECF9;
}

tr:nth-child(even) {
    background: #F8F7FD
}

tr:nth-child(odd) {
    background: #ffffff
}

form {
    display: flex;
    gap: 5px;
}

form td:last-child {
    display: flex;
    justify-content: space-evenly;
}

.addPacksFormWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/*.name {*/
/*    min-width: 250px;*/
/*}*/

.cardsCount {
    width: 80px;
}

.updated {
    width: 175px;
}

/*.user_name {*/
/*    min-width: 250px;*/
/*}*/

.actions {
    width: 220px;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0 20px 26px;
}

.btn {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
    position: relative;
}

.ascending:after {
    position: absolute;
    content: "";
    background-image: url('../../../main/ui/assets/img/icons/Polygon.png');
    transform: rotate(180deg);
    top: 7px;
    left: -15px;
    width: 10px;
    height: 6px;
}

.descending:after {
    position: absolute;
    content: "";
    background-image: url('../../../main/ui/assets/img/icons/Polygon.png');
    top: 7px;
    left: -15px;
    width: 10px;
    height: 6px;
}

